{% extends "_layout" %}

{% block content %}
 {{entry.sectionId}}
<div>
  <h1 class="text-4xl text-black font-display my-4">{{ entry.title }}</h1>



  <div class="flex -mx-4">
    <div class="w-1/2 px-4">
      {% if entry.aboutImage | length %}
        {% for image in entry.aboutImage.all() %}
          <img src="{{ image.getUrl({ width: 300, height: 300 }) }}" alt="{{ image.title }}" class="my-8 rounded-circle" />
        {% endfor %}
      {% endif %}

      <div class="my-8">
  {% for block in entry.postContent.all() %}
    <div class="my-4">
      {% if block.type == 'text' %}
        <div class="copy">
          {{ block.text }}
        </div>
      {% elseif block.type == 'image' %}
        {% for image in block.image.all() %}
          <img style="width: 50%; margin-bottom: 2%" class="my-8" src="{{ image.url }}" alt="{{ image.title }}" />
        {% endfor %}
      {% endif %}
    </div>
  {% endfor %}
</div>

{% endblock %}